@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: inherit;
}

:root {
  --green : #3EBC5A;
  --gray : #EFF2F4;
}

body, html {
  background-color: var(--gray);
  font-family: "Open Sans", sans-serif;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  min-height: 100%;
}

header {
  width: 100%;
  height: 6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
}

.icon-group {
  display: flex;
  align-items: center;
}

.icon-group h5 {
  text-transform: uppercase;
  color: var(--green);
  font-weight: 700;
  margin-left: 1rem;
  font-size: 1em;
}

.icon {
  width: 3em;
  height: 3em;
  background: url("image/icon.svg") no-repeat center ;
  background-size: cover;
  border-radius: 0.5em;
}

header ul {
  display: flex;
  gap: 2em;
}

header ul li {
  color:black;
}

.contacts .contact-btn {
  border: 1px black solid;
  padding: 0.8em 1.8em;
  border-radius: 5em;
  margin-left: 1em;
  cursor: pointer;
}

section {
  padding-top: 5em;
}

.title {
  display: grid;
  grid-template-rows: 1fr 2.5fr;
  grid-template-columns: 2fr 1fr;
}

.section-title {
  display: block;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.1em;
  padding: 0 8rem 2.5rem 1.5rem;
}

.section-title .hl {
  color: var(--green);
}

.section-explain {
  padding-right: 1.5rem;
  padding-bottom: 2.5rem;
  display: grid;
  grid-template-rows: 3fr 3.5rem;
  grid-template-columns: 1fr 1fr;
}

.section-explain p {
  padding-right: 1rem;
  grid-column: span 2;
}

.title-reviewer {
  display: flex;
}

.reviewer-profile {
  background: url("image/pexels-keynotez-1334945.jpg") no-repeat center;
  background-size: cover;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: var(--gray) 0.2rem solid;
}

.reviewer-profile:nth-child(2) {
  background-image: url("image/pexels-olly-3763188.jpg");
  transform: translate(-1rem, 0);
}

.reviewer-profile:nth-child(3) {
  background-image: url("image/pexels-pixabay-34534.jpg");
  transform: translate(-2rem, 0);
}

.reviewer-profile:nth-child(4) {
  background-image: url("image/pexels-pixabay-415829.jpg");
  transform: translate(-3rem, 0);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 0.8rem 1.5rem;
  border-radius: 500px;
}

.title a {
  background-color: var(--green);
  color: white;
  text-align: center;
  gap: 0.5em;
}

.title a img {
  width: 1.5em;
  height: 1.5em;
  filter: invert(100%) sepia(0%) saturate(7459%) hue-rotate(302deg) brightness(108%) contrast(97%);
}

.title-photo {
  background: url("image/pexels-matilda-wormwood-4099467.jpg") no-repeat center;
  background-size: cover;
  grid-column: span 2;
}

.services {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  overflow: hidden;
}

.services .panel {
  grid-column: span 2;
  width: 100%;
  position: relative;
}

.panel > div {
  width: 100%;
  overflow-x: scroll;
}

.services .panel-nav {
  display: flex;
  gap: 0.5rem;
  padding-bottom: 1.5rem;
}

.panel-nav .padding {
  width: 1rem;
}

.panel-nav li:last-of-type  .padding{
  width: 7rem;
}

.services .btn {
  border: #D0D1D3 1px solid;
}

.services .panel-nav .btn.selected{
  background-color: var(--green);
  border-color: var(--green);
  color: var(--gray);
}

.services .move-btns {
  display: flex;
  position:absolute;
  top: 0;
  right: 1.5rem;
  gap: 0.5rem;
}

.services .move-btns .btn {
  padding:0;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--gray);
}

.service-items {
  display: flex;
  gap: 1rem;
  width: fit-content;
}

.service-items .padding {
  width: 0.5rem;
}

.service-items li {
  width: 20rem;
  padding-bottom: 1.5rem;
}

.service-items li:first-of-type, .service-items li:last-of-type {
  width: fit-content;
  background-color: inherit;
}

.service-items .item-image {
  width: 100%;
}

.service-items span {
  display: block;
}

.service-items .item-title {
  padding-top: 0.8rem;
  padding-bottom: 0.3rem;
}

.service-items .item-price {
  font-size: 0.8rem;
  opacity: 0.5;
}

footer {
  background-color: var(--green);
  padding: 0 1.5em;
}

footer *, footer .icon-group h5 {
  color: white;
}

footer nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: start;
  border-bottom: rgba(255,255,255,0.1) solid 1px;
}

footer .icon-group {
  padding-top: 1em;
}

footer nav .icon-group .icon{
  background-image: url("image/icon-color-invert.svg");
}

footer nav div:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 0.6fr 1fr; 
  gap: 0px 0px; 
  grid-auto-flow: column;
}

footer nav div:nth-child(2) h6 {
  font-size: 0.7em;
  color:#A6DFB1;
  align-self: center;
}

footer nav div:nth-child(2) ul {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

footer nav div:nth-child(2) ul li {
  font-size: 0.9em;
}

.copyright {
  display: flex;
  padding: 2rem 0;
  justify-content: space-between;
  font-size: 0.7em;
  opacity: 0.8;
}

.copyright div {
  display: flex;
  gap: 1em;
  text-decoration: underline;
}

